#headercolor {
    background-color: lightblue;
    padding: 100px;

}
#IntroQuote,p {
    position: absolute;
    left:500px;
    top: 550px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px
}

#IntroQoute,img {
    position: absolute;
    left:800px;
    bottom: 320px;
    border-radius: 50%;

}